#sidebar-wrapper.bg-light.border-right
    .sidebar-heading rengvo | e-commerce
    .list-group.list-group-flush

      if program.menu.dashboard
          a.list-group-item.list-group-item-action.nav-link(href=program.menu.dashboard.url)
            span.fa.fa-list
            span.pl-1  #{program.menu.dashboard.title}
          span.sr-only (current)

      if program.menu.admin && program.menu.admin.submenu.length > 0 
          a.list-group-item.list-group-item-action.bg-light.nav-link.collapsed(href='#submenu_admin' data-toggle='collapse' data-target='#submenu_admin')
            span.fa.fa-list
            span.pl-1  #{program.menu.admin.title}
            span.fa.fa-plus.mt-1.pull-right
          #submenu_admin.collapse(aria-expanded='false')
            each submenu in program.menu.admin.submenu
              ul.flex-column.nav.pl-1
                li.nav-item(id='submenu_'+submenu.name)
                  a.list-group-item-action.nav-link(href=submenu.url)
                    span.p-1 #{submenu.title}

      if program.menu.course && program.menu.course.submenu.length > 0 
          a.list-group-item.list-group-item-action.bg-light.nav-link.collapsed(href='#submenu_course' data-toggle='collapse' data-target='#submenu_course')
            span.fa.fa-list
            span.pl-1  #{program.menu.course.title}
            span.fa.fa-plus.mt-1.pull-right
          #submenu_course.collapse(aria-expanded='false')
            each submenu in program.menu.course.submenu
              ul.flex-column.nav.pl-1
                li.nav-item(id='submenu_'+submenu.name)
                  a.list-group-item-action.nav-link(href=submenu.url)
                    span.p-1 #{submenu.title}
