#sidebar-wrapper.bg-light.border-right
    .sidebar-heading
    .list-group.list-group-flush
        if program && program.length > 0
            each programObj in program
                if programObj.access == true
                    - var subMenuLength = programObj.submenu.length;
                    if !(subMenuLength > 0)
                        a.list-group-item.list-group-item-action.nav-link(href=programObj.url)
                            span(class=programObj.icon)
                            span.pl-1  #{programObj.title}
                        span.sr-only (current)
                    else
                        a.list-group-item.list-group-item-action.bg-light.nav-link.collapsed(href='#'+programObj.menuid data-toggle='collapse' data-target='#'+programObj.menuid)
                            span(class=programObj.icon)
                            span.pl-1  #{programObj.title}
                            span.fa.fa-plus.mt-1.pull-right
                        div.collapse(aria-expanded='false' id=programObj.menuid)
                            each subMenu in programObj.submenu
                                ul.flex-column.nav.pl-1
                                    li.nav-item(id='#'+subMenu.menuid)
                                        a.list-group-item-action.nav-link(href=subMenu.url)
                                            span.p-1 #{subMenu.title}