div.sidebar.sidebar-hide-to-small.sidebar-shrink.sidebar-gestures
  div.nano
    div.nano-content
      div.logo
        a(href="#")
          span rengvo
      ul
        li.label Main
        if program.menu.dashboard
          li.active
            a(href=program.menu.dashboard.url)
              i(class=program.menu.dashboard.icon)
              | #{program.menu.dashboard.title}

        li.label Apps
        if program.menu.course && program.menu.course.submenu.length > 0 
          li
            a.sidebar-sub-toggle
              i(class=program.menu.course.icon)
              | #{program.menu.course.title}
              span.badge.badge-primary
              span.sidebar-collapse-icon.ti-angle-down
            each submenu in program.menu.course.submenu
              ul
                li
                  a(href=submenu.url) #{submenu.title}