doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Simple Sidebar - Start Bootstrap Template
  // Bootstrap core CSS
  link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  // Custom styles for this template
  link(href='css/simple-sidebar.css' rel='stylesheet')



  // Dashboard CSS
  link(href='https://getbootstrap.com/docs/4.5/examples/dashboard/' rel='canonical')

  // Bootstrap Core CSS
  link(href='/assets/dist/css/bootstrap.min.css' rel='stylesheet')

  // Data Table CSS
  link(href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet")

  // Layout/Lib
  link(href='/layout-css/lib/select2/select2.min.css' rel='stylesheet')

  // Layout CSS
  //- link(href='/layout-css/dashboard.css' rel='stylesheet')
  //- link(href='/layout-css/general.min.css' rel='stylesheet')

  // Font Awesome
  link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")

  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js')

#wrapper.d-flex
  // Sidebar
  #sidebar-wrapper.bg-light.border-right
    .sidebar-heading Start Bootstrap 
    .list-group.list-group-flush

      if program.menu.dashboard
          a.list-group-item.list-group-item-action.nav-link(href=program.menu.dashboard.url)
            span.fa.fa-list
            span.pl-1  #{program.menu.dashboard.title}
          span.sr-only (current)

      if program.menu.admin && program.menu.admin.submenu.length > 0 
          a.list-group-item.list-group-item-action.bg-light.nav-link.collapsed(href='#submenu_admin' data-toggle='collapse' data-target='#submenu_admin')
            span.fa.fa-list
            span.pl-1  #{program.menu.admin.title}
            span.fa.fa-plus.mt-1.pull-right
          #submenu_admin.collapse(aria-expanded='false')
            each submenu in program.menu.admin.submenu
              ul.flex-column.nav.pl-1
                li.nav-item(id='submenu_'+submenu.name)
                  a.list-group-item-action.nav-link(href=submenu.url)
                    span.p-1 #{submenu.title}

      if program.menu.course && program.menu.course.submenu.length > 0 
          a.list-group-item.list-group-item-action.bg-light.nav-link.collapsed(href='#submenu_course' data-toggle='collapse' data-target='#submenu_course')
            span.fa.fa-list
            span.pl-1  #{program.menu.course.title}
            span.fa.fa-plus.mt-1.pull-right
          #submenu_course.collapse(aria-expanded='false')
            each submenu in program.menu.course.submenu
              ul.flex-column.nav.pl-1
                li.nav-item(id='submenu_'+submenu.name)
                  a.list-group-item-action.nav-link(href=submenu.url)
                    span.p-1 #{submenu.title}

  // /#sidebar-wrapper
  // Page Content
  #page-content-wrapper
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
      button#menu-toggle.btn.btn-primary Toggle Menu
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.mt-2.mt-lg-0
          li.nav-item.active
            a.nav-link(href='#')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Link
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              | Dropdown
            .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Action
              a.dropdown-item(href='#') Another action
              .dropdown-divider
              a.dropdown-item(href='#') Something else here
    .container-fluid
      h1.mt-4 Simple Sidebar
      p
        | The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.
      p
        | Make sure to keep all page content within the 
        code #page-content-wrapper
        | . The top navbar is optional, and just for demonstration. Just create an element with the 
        code #menu-toggle
        |  ID which will toggle the menu when clicked.
  // /#page-content-wrapper
// /#wrapper
// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')


<!-- Layout JS/ Lib -->
script(src='/layout-js/lib/select2/select2.full.min.js')

script(src='/assets/dist/js/bootstrap.bundle.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js')

<!-- Data Table JS -->
script(src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js")

<!-- Datetime JS -->
script(src="/layout-js/lib/datepicker/bootstrap-datepicker.min.js")



// Menu Toggle Script
script.
  $("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
  });
