extends ../includes/layout-main
block content
  main.col-md-9.ml-sm-auto.col-lg-10.px-md-4(role='main')
    nav.pt-3(aria-label='breadcrumb')
      ol.breadcrumb
        if page.list.breadcrumb.url.length > 0
          each url, index in page.list.breadcrumb.url
            li.breadcrumb-item
              a(href=url) #{page.list.breadcrumb.text[index]}

    div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2
      h3.h3 !{page.list.title}

    include ./../includes/layout-delete
    table#example.table(style='width:100%')
      thead
        tr
          th #
          th Name
          th Age
          th Grade
          th Active
          th.actions
            a.btn.btn-sm.btn-success.btn-rounded.pull-right(href=url.entry, role="button", title="New")
              i.fa.fa-plus
              |  NEW
      tbody
  script.
    $(document).ready(function() {
      var token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6Ik4zTz9VOEw0QjFTNkUzSyIsImlhdCI6MTYwNDc1MDE3MywiZXhwIjoxNjA0ODM2NTczfQ.t3zQaTKZDhhRQ4vFrTDheO6eDL3M54QEH3V98l5DDrA";
      $.fn.dataTable.ext.errMode = 'none';
      $.fn.dataTable.ext.classes.sPageButton = 'btn btn-sm btn-secondary m-1'; 
      var table = $('#example').on('error.dt', function(e, settings, techNote, message) {
          console.log('DataTable Error: ', message);
          alert('Read data is failed!');
        }).DataTable({
          "autoWidth": true,
          "pagingType": "full_numbers",
          "language": {
            "searchPlaceholder": "Search",
            "paginate": {
              "previous": "<",
              "next": ">"
            }
          },
          "ajax": {
            "url": "./api/students/",
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "data",
          },
          "columns": [
            { "data": "id" },
            { "data": "name"},
            { "data": "age" },
            { "data": "grade" },
            { "data": "prefect" },
            { "data": "actions" },
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 4, orderable: false, render: dataTableNotiRenderer() },
            { targets: 5, orderable: false, render: dataTableActionsRenderer("!{url.entry}", "1,1,1") }
          ]
      });

      $('#dialogDeleteConfirm').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        $(this).attr('data-id', id);
        $(this).find('#dialogAccept').on('click', function(ev) {
          var deleteUrl = './api/student/'+id;
          handleDelete(deleteUrl, token, function() {
            table.ajax.reload();
          });
        });
      }).on('hide.bs.modal', function (event) {
        $(this).attr('data-id', '');
        $(this).find('#dialogAccept').off('click');
      });
    });