extends ../includes/layout-main
block content
  main.ml-sm-auto.px-md-4(role='main')

    nav.pt-3(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Dashboard 
        if page.entry.breadcrumb.length > 0
          each breadcrumbObj, index in page.entry.breadcrumb
            li.breadcrumb-item
              a(href=breadcrumbObj.url) #{breadcrumbObj.text}

    div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-3
      h3.h3 !{page.entry.title}

    div.alert.alert-dismissible#alert(role='alert')
      strong.alert-title#alertTitle
      span#alertMessage

    form.form-horizontal.p-3.card#entryForm(method='post', action=page.entry.url)
      input.form-control.input-sm#recordid(type='hidden', name='id', value=data.id)
      div.form-group.row
        div.col-sm-6
          label.control-label(for='name') Name
          input.form-control.input-sm#name(type='text', name='name', value=data.name, maxlength="55" required autofocus)
        div.col-sm-6
          label.control-label(for='age') Age
          input.form-control.input-sm#age(type='number', name='age', role='number', min='16' max='120' onkeyup="if(parseInt(this.value)>120){ this.value =120; return false; }" value=data.age autocomplete="off" required)
      div.form-group.row
        div.col-sm-6
          label.control-label(for='grade') Grade
          input.form-control.input-sm#grade(type='number', name='grade', role='number', min='1' max='11' onkeyup="if(parseInt(this.value)>11){ this.value =11; return false; }" value=data.grade autocomplete="off" required)
          //- input.form-control.input-sm.date(type='text', name='prefect', role="date" autocomplete="off")
        div.col-sm-6
          label.control-label(for='prefect') Prefect
          div.radio.radio-toolbar.row
            div.col-sm-3
              input#prefectActive.radiobox(type='radio', name='prefect', value="1" checked)
              label(for='prefectActive') &nbsp;Active
            div.col-sm-3
              input#prefectInactive.radiobox(type='radio', name='prefect', value="0")
              label(for='prefectInactive') &nbsp;Inactive
      div.row.justify-content-center.border-top.pt-3
        a.btn.btn-secondary.btn-sm.m-1(href=page.list.url, role='button') CANCEL
        button.btn.btn-.btn-primary.btn-sm.m-1(type='submit', role='button')
          span(data-feather='save') 
          |  SAVE
    form#postSuccessForm(method='GET', action=page.list.url)
  script.
    $(document).ready(function() {
      $('#alert').hide();

      var prefect = "!{data.prefect}";
      if (prefect && prefect == "false")
        $('#prefectInactive').attr("checked", "checked");

      var getFrm = $('#entryForm');
      getFrm.submit(function (e) {
        e.preventDefault();
        $.ajax({
          type: getFrm.attr('method'),
          url: getFrm.attr('action'),
          data: getFrm.serialize(),
          success: function (data) {
            handleAlert(data);
          },
          error: function (data) {
            console.log('An error occurred.');
            console.log(data);
          },
        });
      });
    });