extends ../includes/layout-main
block content
  main.ml-sm-auto.px-md-4(role='main')

    nav.pt-3(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Dashboard 
        if page.entry.breadcrumb.length > 0
          each breadcrumbObj, index in page.entry.breadcrumb
            li.breadcrumb-item
              a(href=breadcrumbObj.url) #{breadcrumbObj.text}

    div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-3
      h3.h3 !{page.entry.title}

    div.alert.alert-dismissible#alert(role='alert')
      strong.alert-title#alertTitle
      span#alertMessage

    //- this is single file upload  - work well
    form#uploadForm(method='POST' action='/file/upload/students' enctype="multipart/form-data")
      input#file-input(type='file' name='uploaded_file')
      //- input#file-input-btn(type='submit' name='uploaded_file_btn' value='Upload')

    //- this is multiple files upload - work well
    //- form(method='POST' action='/file/multiUpload/multitest' enctype='multipart/form-data')
    //-   input(type='file' name='uploaded_files' multiple='')
    //-   input(type='submit' name='uploaded_files_btn' value='Upload')

    form.form-horizontal.p-3.card#entryForm(method='post', action=page.entry.url)
      input.form-control.input-sm#recordid(type='hidden', name='id', value=data.id)

      div.form-group  
        div.row.img-list
          .col-xs-6.col-sm-6.col-md-6.col-lg-2.item.d-flex.justify-content-center.img-container
            img.m-1#add-image(src="/images/icons/add-image.svg", alt="", srcset="" width="360" height="360")

          if data.profile_images.length > 0
            each progfile_image in data.profile_images
              .col-xs-6.col-sm-6.col-md-6.col-lg-2.item.d-flex.justify-content-center.img-container
                input.uploaded-files(type="hidden", name="profile_images", value=`${progfile_image}`)
                img.m-1.img.img-thumbnail(src=`${progfile_image}`, alt="", srcset="" width="360" height="360")
                button.btn(type="button") Remove

         
      div.form-group.row
        div.col-sm-6
          label.control-label(for='name') Name
          input.form-control.input-sm#name(type='text', name='name', value=data.name, maxlength="55" required autofocus)
        div.col-sm-6
          label.control-label(for='age') Age
          input.form-control.input-sm#age(type='number', name='age', role='number', min='16' max='120' onkeyup="if(parseInt(this.value)>120){ this.value =120; return false; }" value=data.age autocomplete="off" required)
      div.form-group.row
        div.col-sm-6
          label.control-label(for='grade') Grade
          input.form-control.input-sm#grade(type='number', name='grade', role='number', min='1' max='11' onkeyup="if(parseInt(this.value)>11){ this.value =11; return false; }" value=data.grade autocomplete="off" required)
          //- input.form-control.input-sm.date(type='text', name='prefect', role="date" autocomplete="off")
        div.col-sm-6
          label.control-label(for='prefect') Prefect
          div.radio.radio-toolbar.row
            div.col-sm-3
              input#prefectActive.radiobox(type='radio', name='prefect', value="1" checked)
              label(for='prefectActive') &nbsp;Active
            div.col-sm-3
              input#prefectInactive.radiobox(type='radio', name='prefect', value="0")
              label(for='prefectInactive') &nbsp;Inactive
      div.row.justify-content-center.border-top.pt-3
        a.btn.btn-secondary.btn-sm.m-1(href=page.list.url, role='button') CANCEL
        button.btn.btn-.btn-primary.btn-sm.m-1(type='submit', role='button')
          span(data-feather='save') 
          |  SAVE

    form#postSuccessForm(method='GET', action=page.list.url)
  script.
    $(document).ready(function() {
      $('#alert').hide();
      $('#uploadForm').hide();

      var prefect = "!{data.prefect}";
      if (prefect && prefect == "false")
        $('#prefectInactive').attr("checked", "checked");

    
      $('#entryForm').submit(function (e) {
        e.preventDefault();
        $.ajax({
          url: $(this).attr('action'),
          type:$(this).attr('method'),
          data: $(this).serialize(),
          success: function (data) {
            handleAlert(data);
          },
          error: function (data) {
            console.log('An error occurred.');
            console.log(data);
          },
        });
      });

      $('#add-image').on('click', function() {
         $(this).css('background-color', '#f3f3f3');
         $('#file-input').trigger('click');
      });

      $('#file-input').on('change', function(e) {
        e.preventDefault();
        $('#uploadForm').submit();
      });
      
      // multi/part  form submit
      $('#uploadForm').submit(function (e) {
        e.preventDefault();
        $.ajax( {
          url: $(this).attr('action'),
          type: $(this).attr('method'),
          cache: false,
          contentType: false,
          processData: false,
          data: new FormData( this ),
          success: function (data) {
            console.log(data);
            //- handleAlert(data, false);

            if(data.status == "SUCCESS") {
              var setSrc = data.data.path.replace("public", "");
              var makeImage  = `<div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 item d-flex justify-content-center img-container">
                                  <input class="uploaded-files" type="hidden" name="profile_images" value=${setSrc} />
                                  <img class="m-1 img img-thumbnail" src=${setSrc} alt="" srcset="" width="360" height="360"/>
                                  <button type="button" class="btn">Remove</button>
                               </div>`;
              //- alert($(".img-list").children().length)
              $(".img-list").append(makeImage)
            }
          },
          error: function (data) {
            console.log('An error occurred.');
            console.log(data);
          },
        });
      });

    });