extends ../includes/ly-main

block content
  div.content-wrap
    div.main
      div.container-fluid
        div.row
          div.col-md-12.title-margin-left
            div.page-header
              div.page-title
                ol.breadcrumb
                  if page.list.breadcrumb.url.length > 0
                    each url, index in page.list.breadcrumb.url
                      li.breadcrumb-item
                        a(href=url) #{page.list.breadcrumb.text[index]}
        include ./../includes/ly-delete
        div.col-md-12
          h5.h5.p-b-10 #{page.list.title}
          table#example.table(style='width:100%')
            thead
              tr
                th #
                th Username
                th.actions
                  a.btn.btn-sm.btn-success.btn-rounded.list-action-text(href=url.entry, role="button", title="Add")
                    i.fa.fa-plus  New
            tbody

  script(src="/assets/js/lib/data-table/datatables.min.js")
  script.
    $(document).ready(function() {
      $('div.sidebar ul>li').removeClass('active');
      $('div.sidebar ul>li>ul>li#submenu_student').addClass('active');
      $('div.sidebar ul>li#menu_course').addClass('open');
      var token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6Ik4zTz9VOEw0QjFTNkUzSyIsImlhdCI6MTU5OTk5NTcwMiwiZXhwIjoxNjAwMDgyMTAyfQ.fxZHkptBnfaPml0-XvjLdQy_D4k7vBTCTgirm36ZXlo";
      $.fn.dataTable.ext.errMode = 'none';
      $.fn.dataTable.ext.classes.sPageButton = 'btn btn-sm btn-secondary m-1'; 
      var table = $('#example').on('error.dt', function(e, settings, techNote, message) {
          console.log('DataTable Error: ', message);
          alert('Read data is failed!');
        }).DataTable({
          "autoWidth": true,
          "pagingType": "full_numbers",
          "language": {
            "searchPlaceholder": "Search",
            "paginate": {
              "previous": "<",
              "next": ">"
            }
          },
          "ajax": { 
            "type": "Get",
            "url": "./api/users/",
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "data",
          },
          "columns":  [
            { "data": "id" },
            { "data": "username"},
            { "data": "actions", "className":"nowrap" }
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 2, orderable: false, render: dataTableActionsRenderer("!{url.entry}", "1,1,1") }
          ]
      });

      $('#dialogDeleteConfirm').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        $(this).attr('data-id', id);
        $(this).find('#dialogAccept').on('click', function(ev) {
          var deleteUrl = './api/student/'+id;
          handleDelete(deleteUrl, token, function() {
            table.ajax.reload();
          });
        });
      }).on('hide.bs.modal', function (event) {
        $(this).attr('data-id', '');
        $(this).find('#dialogAccept').off('click');
      });
    });