extends ../includes/layout-main
block content
  main.ml-sm-auto.px-md-4(role='main')
    nav.pt-3(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") Dashboard 
        if page.list.breadcrumb.length > 0
          each breadcrumbObj, index in page.list.breadcrumb
            li.breadcrumb-item
              a(href=breadcrumbObj.url) #{breadcrumbObj.text}

    div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2
      h3.h3 !{page.list.title}

    include ./../includes/layout-delete
    table#example.table(style='width:100%')
      thead
        tr
          th #
          th Username
          th.actions
            if ((page.actions[0] && page.actions[1]) == true)
              a.btn.btn-sm.btn-success.btn-rounded.pull-right(href=page.entry.url, role="button", title="New")
                i.fa.fa-plus
                span  NEW
      tbody
  script.
    $(document).ready(function() {
      var token = '!{token}';
      $.fn.dataTable.ext.errMode = 'none';
      $.fn.dataTable.ext.classes.sPageButton = 'btn btn-sm btn-secondary m-1'; 
      var table = $('#example').on('error.dt', function(e, settings, techNote, message) {
          console.log('DataTable Error: ', message);
          alert('Read data is failed!');
        }).DataTable({
          "autoWidth": true,
          "pagingType": "full_numbers",
          "language": {
            "searchPlaceholder": "Search",
            "paginate": {
              "previous": "<",
              "next": ">"
            }
          },
          "ajax": { 
            "type": "Get",
            "url": "./api" + '!{page.list.url}',
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "data",
          },
          "columns":  [
            { "data": "id" },
            { "data": "username"},
            { "data": "actions", "className":"nowrap" }
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 2, orderable: false, render: dataTableActionsRenderer(".!{page.entry.url}", "!{page.actions}") }
          ]
      });

      $('#dialogDeleteConfirm').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        $(this).attr('data-id', id);
        $(this).find('#dialogAccept').on('click', function(ev) {
          var deleteUrl = './api/user/'+id;
          handleDelete(deleteUrl, token, function() {
            table.ajax.reload();
          });
        });
      }).on('hide.bs.modal', function (event) {
        $(this).attr('data-id', '');
        $(this).find('#dialogAccept').off('click');
      });
    });