extends ../includes/ly-main

block content
  div.content-wrap
    div.main
      div.container-fluid
        div.row
          div.col-md-12.title-margin-left
            div.page-header
              div.page-title
                ol.breadcrumb
                  li.breadcrumb-item
                    a(href="/") Dashboard
                  li.breadcrumb-item
                    a(href=url.list) Student List
                  li.breadcrumb-item.active
                    span Student Entry
        div.col-md-12
          div.row
            div.col-md-12.alert.alert-dismissible#alert(role='alert')
              strong.alert-title#alertTitle
              span#alertMessage
              //- button.close(type='button', data-dismiss="alert" aria-label='Close')
              //-   span(aria-hidden='true') &times;
    
          form.form-horizontal.card#entryForm(method='post', action=url.post)
            input.form-control.input-sm#recordid(type='hidden', name='id', value=data.id)

            div.form-group.row
              div.col-sm-6
                label.control-label(for='username') Username
                input.form-control.input-sm#username(type='text', name='username', value=data.username, maxlength="55" required autofocus)

              div.col-sm-6
                label.control-label(for='password') Password
                input.form-control.input-sm#password(type='password', name='password', role='password' value=data.password required)


            div.row.justify-content-md-center
              a.btn.btn-default.btn-sm.m-1(href=url.list, role='button') Cancel
              button.btn.btn-.btn-primary.btn-sm.m-1(type='submit', role='button') Save

          form#postSuccessForm(method='GET', action=url.list)

  script(src="/assets/js/lib/data-table/datatables.min.js")
  script.
    $(document).ready(function() {
      $('#alert').hide();

      var getFrm = $('#entryForm');
      getFrm.submit(function (e) {
        e.preventDefault();
        $.ajax({
          type: getFrm.attr('method'),
          url: getFrm.attr('action'),
          data: getFrm.serialize(),
          success: function (data) {
            console.log(data);
            handleAlert(data);
          },
          error: function (data) {
            console.log('An error occurred.');
            console.log(data);
          },
        });
      });
    });