extends ../includes/layout-main
block content
  main.ml-sm-auto.px-md-4(role='main')

    nav.pt-3(aria-label='breadcrumb')
      ol.breadcrumb
        if page.entry.breadcrumb.url.length > 0
          each url, index in page.entry.breadcrumb.url
            li.breadcrumb-item
              a(href=url) #{page.entry.breadcrumb.text[index]}

    div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-3
      h3.h3 !{page.entry.title}

    div.alert.alert-dismissible#alert(role='alert')
      strong.alert-title#alertTitle
      span#alertMessage

    form.form-horizontal.p-3.card#entryForm(method='post', action=url.post)
      input.form-control.input-sm#recordid(type='hidden', name='id', value=data.id)
      div.form-group.row
        div.col-sm-6
          label.control-label(for='username') Username
          input.form-control.input-sm#username(type='text', name='username', value=data.username, maxlength="55" required autofocus)
        div.col-sm-6
          label.control-label(for='password') Password
          input.form-control.input-sm#password(type='password', name='password', role='password' value=data.password required)
      div.form-group.row
        div.col-sm-12
          label.control-label(for='role') Role
          select.form-control.input-sm.selectpicker#roleid(name='roleid' data-value='', data-live-search="true", data-size="8")

      div.row.justify-content-center.border-top.pt-3
        a.btn.btn-secondary.btn-sm.m-1(href=url.list, role='button') CANCEL
        button.btn.btn-.btn-primary.btn-sm.m-1(type='submit', role='button')
          span(data-feather='save') 
          |  SAVE
    form#postSuccessForm(method='GET', action=url.list)

  script.
    $(document).ready(function() {
      $('#alert').hide();
      var token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6Ik4zTz9VOEw0QjFTNkUzSyIsImlhdCI6MTYwNjMxMTQ0OCwiZXhwIjoxNjA2Mzk3ODQ4fQ.NL-TPGPh8Y1dBBgRL7VRyB1636D3TdWDJG1-oecD1Jo";

      var getFrm = $('#entryForm');
      getFrm.submit(function (e) {
        e.preventDefault();
        $.ajax({
          type: getFrm.attr('method'),
          url: getFrm.attr('action'),
          data: getFrm.serialize(),
          success: function (data) {
            console.log(data);
            handleAlert(data);
          },
          error: function (data) {
            console.log('An error occurred.');
            console.log(data);
          },
        });
      });
  
      $.ajax({
        type: "GET",
        url: "/api/permissions/",
        headers: {"authorization": "Bearer " + token},
        success: function (data) {
          console.log(data.data);
          var items = "";
          items += "<option value='' disabled selected>Please Choose One</option>";
          $.each(data.data, function (i, item) {
            items += "<option value='" + item._id + "'>" + item.name + "</option>";
          });
          $("#roleid").html(items);
        }
      });

    });