extends ../includes/layout-main
block content
  main.ml-sm-auto.px-md-4(role='main')
    include ./../includes/layout-entry-header
    form#uploadForm.d-none(method='POST' action='/file/upload/banners' enctype="multipart/form-data")
      input#file-input(type='file' name='uploaded_file')
    include ./../includes/layout-entry-form
      block inputs
        div.form-group.d-none 
          div.row.remove-img-list
        
        div.form-group  
          div.row.img-list
            .col-xs-6.col-sm-6.col-md-6.col-lg-2.item.d-flex.justify-content-center.img-container
              img.m-1.p-3.add-img-wrapper#add-image(src=app.icons.FLAT_PLUS, alt="", srcset="" width="360" height="360")

            - var imageArray = data.images || [];
            if imageArray.length > 0
              each images in data.images
                .col-xs-6.col-sm-6.col-md-6.col-lg-2.item.d-flex.justify-content-center.img-container
                  input.uploaded-files(type="hidden", name="images[]", value=`${images}`)
                  img.m-1.img.img-thumbnail(src=`${images}`, alt="", srcset="" width="360" height="360")
                  button.btn.remove-file(type="button") Remove

        div.form-group.row
          div.col-sm-6.mb-2
            label.control-label(for='title') Title
            input.form-control.input-sm#title(type='text', name='title', value=data.title, maxlength="55" required autofocus)
          
          div.col-sm-6.mb-2
            label.control-label(for='no_of_image') No. of Image
            select#no_of_image.selectpicker.form-control(name='no_of_image', value=data.no_of_image, data-value=data.no_of_image  data-size="8" data-live-search="true" required)
              option(value="" disabled)  -- Please Select --
              option(value="1" selected) 1
              option(value="2") 2
              option(value="3") 3
              option(value="4") 4

        div.form-group.row  
          div.col-sm-6.mb-2
            label.control-label(for='image_size') Image Size
            select#image_size.selectpicker.form-control(name='image_size', value=data.image_size, data-value=data.image_size  data-size="8" data-live-search="true" required)
              option(value="" disabled selected)  -- Please Select --
              option(value="1920x150") 1920x150
              option(value="870x420") 870x420
              option(value="570x270") 570x270

          div.col-sm-6.mb-2
            label.control-label(for='page_name') Page Name
            select#page_name.selectpicker.form-control(name='page_name', value=data.page_name, data-value=data.page_name  data-size="8" data-live-search="true" required)
              option(value="" disabled selected)  -- Please Select --
              option(value="home") Home
              option(value="shop") Shop
              option(value="shop_details") Shop Details
              option(value="shop_cart") Shop Cart
              option(value="checkout") Checkout
              option(value="blog") Blog
              option(value="blog_details") Blog Details
              option(value="contact") Contact

        div.form-group.row
          div.col-sm-6.mb-2
            label.control-label(for='description') Description
            textarea.form-control.input-sm#description(name='description')= data.description
          div.col-sm-6.mb-2
            label.control-label(for='status') Status
            div.radio.radio-toolbar.row
              div.col-sm-6.mb-2.col-xl-3
                input#statusActive.radiobox(type='radio', name='status', value="1" checked)
                label.ml-1(for='statusActive') &nbsp; Active
              div.col-sm-6.mb-2.col-xl-3
                input#statusInactive.radiobox(type='radio', name='status', value="0")
                label.ml-1(for='statusInactive') &nbsp; Inactive

        include ./../includes/layout-entry-btn

    form#postSuccessForm(method='GET', action=page.list.url)
  script.
    $(document).ready(function() {
      var token = '!{token}';
      var maxImageCount  = 1;
      var editMode = $("input[name='id']").val();
      $('#alert').hide();
      $('#uploadForm').hide();

      var status = "!{data.status}";
      if (status && status == "false")
        $('#statusInactive').attr("checked", "checked");

      if (editMode && typeof editMode === "string") {
        var no_of_image = $('#no_of_image').data('value');
        $('#no_of_image').val(no_of_image).change();

        maxImageCount = no_of_image; // set maxImageCount 

        var image_size = $('#image_size').data('value');
        $('#image_size').val(image_size).change();

        var page_name = $('#page_name').data('value');
        $('#page_name').val(page_name).change();
      }

      // select on change
      $("#no_of_image").change(function(e){
        e.preventDefault()
        maxImageCount =  $('#no_of_image option:selected').val();
      });
      

      $('#entryForm').submit(function (e) {
        e.preventDefault();
        $("#no_of_image").attr("disabled", false)
        
        $.ajax({
          url: $(this).attr('action'),
          type:$(this).attr('method'),
          data: $(this).serialize(),
          success: function (data) {
            handleAlert(data);
          },
          error: function (data) {
            console.log('An error occurred.');
            console.log(data);
          },
        });
      });

      $('#add-image').on('click', function() {
        //- $(this).css('background-color', '#fff');
        var imgCount  = $(".img-list").children().length || 0;

        if (imgCount -1 <  maxImageCount)  {
          $('#file-input').trigger('click');
        }
        else {
          swalWarning({
            position: "top",
            icon: "warning",
            title: "Warning Message",
            text: "The specified number of images has been reached",
          });
        }
      });

      $('#file-input').on('change', function(e) {
        e.preventDefault();
        if ( $(this).val() != "" ) {
          $('#uploadForm').submit();
        }
      });

      // multi/part  form submit
      $('#uploadForm').submit(function (e) {
        e.preventDefault();
        var imgCount  = $(".img-list").children().length || 0;

        ajaxUploadForm({
          imgParentDiv: '.img-list',
          imgName: 'images[]',
          _this: this,
          token: token
        });

        if (imgCount == $("#no_of_image").val())
          $("#no_of_image").attr("disabled", true)

        $('#file-input').val(null);
      });

      $(document).on('click', '.remove-file', function () {
        var imgCount  = $(".img-list").children().length || 0;
        // remove element
        var backupSrc = $(this).closest('div').find('img.img').attr('src');
        var makeInput = `<input class="remove-files" type="hidden" name="remove_images[]" value=${backupSrc} />`;

        $(".remove-img-list").append(makeInput);
        $(this).parent().remove();

        if (imgCount - 2 < $("#no_of_image").val())
          $("#no_of_image").attr("disabled", false)
      });

    });