extends ../includes/layout-main
block content
  main.ml-sm-auto.px-md-4(role='main')

    include ./../includes/layout-list-header

    table#example.table(style='width:100%')
      thead
        tr
          th #
          th Code
          th Customer Type
          th Discount (Pct/Amt)
          th Discount Type
          th No. of Limit
          th Status
          th Start Time
          th End Time
          th.actions
            if ((page.actions[0] && page.actions[1]) == true)
              include ./../includes/layout-list-plus
      tbody
  script.
    $(document).ready(function() {
      pageEntry = '!{page.entry.url}';

      $.fn.dataTable.ext.errMode = 'none';
      $.fn.dataTable.ext.classes.sPageButton = 'btn btn-sm btn-light m-1'; 

      table = $('#example').on('error.dt', function(e, settings, techNote, message) {
        console.log('DataTable Error: ', message);
        alert('Read data is failed!');
        }).DataTable({...dataTableDef({ expFileName: "!{page.list.title}" }),
          "ajax": {
            "url": "./api" + '!{page.list.url}',
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "data",
          },
          "columns": [
            { "data": "id" },
            { "data": "code"},
            { "data": "customer_type" },
            { "data": "discount_amount" },
            { "data": "discount_type" },
            { "data": "no_of_limits" },
            { "data": "status" },
            { "data": "start_time" },
            { "data": "expire_time" },
            { "data": "actions" },
          ],
          "columnDefs": [
            { targets: 0, render: dataTableIndexRenderer() },
            { targets: 4, render: dataTableTypeRenderer() },
            { targets: 6, render: dataTableActiveRenderer() },
            { targets: 7, render: dataTableDateTimeRenderer() },
            { targets: 8, render: dataTableDateTimeRenderer() },
            { targets: 9, orderable: false, render: dataTableActionsRenderer(
              ".!{page.entry.url}", "!{page.actions}", 
              { edit: "!{app.icons.FLAT_EDIT}", delete: "!{app.icons.FLAT_DELETE}" }
              )
            }
          ]
      });
    });