extends ../includes/layout-main
block content
  main.ml-sm-auto.px-md-4(role='main')

    include ./../includes/layout-entry-header
    include ./../includes/layout-entry-form
      block inputs

        div.form-group.row
          div.col-sm-4.mb-2
            - var townshipid =  data.townshipid || { _id: "" };
            label.control-label(for='townshipid') Township
            select.form-control.input-sm.selectpicker#townshipid(name='townshipid' value=townshipid._id data-value=townshipid._id, data-live-search="true", data-size="8" required)

          div.col-sm-4.mb-2
            - var companyid =  data.companyid || { _id: "" };
            label.control-label(for='companyid') Company Name
            select.form-control.input-sm.selectpicker#companyid(name='companyid' value=companyid._id data-value=companyid._id, data-live-search="true", data-size="8" required)

          div.col-sm-4.mb-2
            label.control-label(for='charge') Charge
            input.form-control.input-sm#charge(type='number', name='charge', role='number', min='1' max='10000' onkeyup="if(parseInt(this.value)>10000){ this.value =10000; return false; }" value=data.charge required)

          div.col-sm-6.mb-3
            label.control-label(for='description') Description
            textarea.form-control.input-sm#description(name='description',)= data.description 
          div.col-sm-6.mb-3
            label.control-label(for='status') Status
            div.radio.radio-toolbar.row
              div.col-sm-6.mb-3.col-xl-3
                input#statusActive.radiobox(type='radio', name='status', value="1" checked)
                label.ml-1(for='statusActive') &nbsp; Active
              div.col-sm-6.mb-3.col-xl-3
                input#statusInactive.radiobox(type='radio', name='status', value="0")
                label.ml-1(for='statusInactive') &nbsp; Inactive

        include ./../includes/layout-entry-btn

    form#postSuccessForm(method='GET', action=page.list.url)
  script.
    $(document).ready(function() {
      var status = "!{data.status}";
      if (status && status == "false")
        $('#statusInactive').attr("checked", "checked");

      ajaxLoadOption({
        type: "GET",
        url:"/api/townships",
        selectId: "#townshipid",
        showKey: "township_mm",
        filterObj: {},
        token: token
      });

      ajaxLoadOption({
        type: "GET",
        url:"/api/delivery-companies",
        selectId: "#companyid",
        showKey: "company_name",
        filterObj: {},
        token: token
      });

      $('#entryForm').submit(function (e) {
        e.preventDefault();
        $.ajax({
          url: $(this).attr('action'),
          type:$(this).attr('method'),
          data: $(this).serialize(),
          success: function (data) {
            handleAlert(data);
          },
          error: function (data) {
            console.log('An error occurred.');
            console.log(data);
          },
        });
      });
    });