extends ../includes/layout-main
block content
  main.ml-sm-auto.px-md-4(role='main')

    include ./../includes/layout-entry-header

    //- this is single file upload  - work well
    form#uploadForm.d-none(method='POST' action='/file/upload/delivery-companies' enctype="multipart/form-data")
      input#file-input(type='file' name='uploaded_file')
      //- input#file-input-btn(type='submit' name='uploaded_file_btn' value='Upload')


    include ./../includes/layout-entry-form
      block inputs

        div.form-group.d-none 
          div.row.remove-img-list

        div.form-group  
          div.row.img-list
            .col-xs-6.col-sm-6.col-md-6.col-lg-2.item.d-flex.justify-content-center.img-container
              img.m-1.p-3.add-img-wrapper#add-image(src=app.icons.FLAT_PLUS, alt="", srcset="" width="360" height="360")

            - var imageSrc = data.company_logo || "";
            if imageSrc
              .col-xs-6.col-sm-6.col-md-6.col-lg-2.item.d-flex.justify-content-center.img-container
                input.uploaded-files(type="hidden", name="company_logo", value=`${imageSrc}`)
                img.m-1.img.img-thumbnail(src=`${imageSrc}`, alt="", srcset="" width="360" height="360")
                button.btn.remove-file(type="button") Remove

        div.form-group.row
          div.col-sm-6.mb-3
            label.control-label(for='company_name') Company Name
            input.form-control.input-sm#company_name(type='text', name='company_name', value=data.company_name, maxlength="110" required autofocus)
          
          div.col-sm-6.mb-3
            label.control-label(for='contact_name') Contact Name
            input.form-control.input-sm#contact_name(type='text', name='contact_name', value=data.contact_name, maxlength="110" required)
           
          div.col-sm-6.mb-3
            label.control-label(for='primary_mobile') Primary Mobile
            input.form-control.input-sm#primary_mobile(type='text', name='primary_mobile', value=data.primary_mobile, maxlength="55" required)
          
          div.col-sm-6.mb-3
            label.control-label(for='secondary_mobile') Secondary Mobile
            input.form-control.input-sm#secondary_mobile(type='text', name='secondary_mobile', value=data.secondary_mobile, maxlength="55" required)

          div.col-sm-6.mb-3
            label.control-label(for='email') Email
            input.form-control.input-sm#email(type='text', name='email', value=data.email, maxlength="55" required)     
          
          div.col-sm-6.mb-2
            label.control-label(for='address') Address
            textarea.form-control.input-sm#address(name='address' rows=1)= data.address
          
          div.col-sm-6.mb-3
            label.control-label(for='description') Description
            textarea.form-control.input-sm#description(name='description' rows=1)= data.description

          div.col-sm-6.mb-3
            label.control-label(for='status') Status
            div.radio.radio-toolbar.row
              div.col-sm-6.mb-3.col-xl-3
                input#statusActive.radiobox(type='radio', name='status', value="1" checked)
                label.ml-1(for='statusActive') &nbsp; Active
              div.col-sm-6.mb-3.col-xl-3
                input#statusInactive.radiobox(type='radio', name='status', value="0")
                label.ml-1(for='statustInactive') &nbsp; Inactive

        include ./../includes/layout-entry-btn

    form#postSuccessForm(method='GET', action=page.list.url)
  script.
    $(document).ready(function() {
      var maxImageCount  = 1;
      var editMode = $("input[name='id']").val();

      var prefect = "!{data.prefect}";
      if (prefect && prefect == "false")
        $('#prefectInactive').attr("checked", "checked");

      $('#entryForm').submit(function (e) {
        e.preventDefault();
        $.ajax({
          url: $(this).attr('action'),
          type:$(this).attr('method'),
          data: $(this).serialize(),
          success: function (data) {
            handleAlert(data);
          },
          error: function (data) {
            console.log('An error occurred.');
            console.log(data);
          },
        });
      });

      $('#add-image').on('click', function() {
        var imgCount  = $(".img-list").children().length || 0;

        (imgCount -1 <  maxImageCount)  
          ? $('#file-input').trigger('click')
          : swalWarning({
            position: "top",
            icon: "warning",
            title: "Warning Message",
            text: "The specified number of images has been reached",
          });
      });

      $('#file-input').on('change', function(e) {
        e.preventDefault();
        if ( $(this).val() != "" ) {
          $('#uploadForm').submit();
        }
      });

      // multi/part  form submit
      $('#uploadForm').submit(function (e) {
        e.preventDefault();

        ajaxUploadForm({
          imgParentDiv: '.img-list',
          imgName: 'company_logo',
          _this: this,
          token: token
        });

        $('#file-input').val(null);
      });

      $(document).on('click', '.remove-file', function () {
        // remove element
        var backupSrc = $(this).closest('div').find('img.img').attr('src');
        var makeInput = `<input class="remove-files" type="hidden" name="remove_images[]" value=${backupSrc} />`;

        $(".remove-img-list").append(makeInput);
        $(this).parent().remove();
      });
    });