extends ../includes/layout-main
block content
  main.ml-sm-auto.px-md-4(role='main')

    include ./../includes/layout-entry-header

    include ./../includes/layout-entry-form
      block inputs

        div.form-group.row
          div.col-md-6.mb-2
            label.control-label(for='name') Name
            input.form-control.input-sm#name(type='text', name='name', value=data.name, maxlength="55" autocomplete="off" required autofocus)

          div.col-md-6.mb-2
            label.control-label(for='quantity') Quantity
            input.form-control.input-sm#quantity(type='number', name='quantity', role='number', min='1', value=data.quantity, autocomplete="off" required)

        div.form-group.row
          div.col-md-6.mb-2
            - var weight_id =  data.weight_id || { _id: "#" };
            label.control-label(for='weight_id') Weight
            select.form-control.input-sm.selectpicker#weight_id(name='weight_id' value=weight_id._id data-value=weight_id._id, data-live-search="true", data-size="8" required)

          div.col-md-6.mb-2
            - var package_id =  data.package_id || { _id: "#" };
            label.control-label(for='package_id') Package
            select.form-control.input-sm.selectpicker#package_id(name='package_id' value=package_id._id data-value=package_id._id, data-live-search="true", data-size="8" required)


        div.form-group.row
          div.col-md-6.mb-2
            - var supplier_id =  data.supplier_id || { _id: user.supplier_id };
            label.control-label(for='supplier_id') Supplier
            select.form-control.input-sm.selectpicker#supplier_id(name='supplier_id' value=supplier_id.  id data-value=supplier_id._id, data-live-search="true", data-size="8"  disabled=(supplier_id._id ? true : false) required)

          div.col-md-6.mb-2
            label.control-label(for='inventory_type') Inventory Type
            select#inventory_type.selectpicker.form-control(name='inventory_type', value=data.inventory_type, data-value=data.inventory_type  data-size="8" data-live-search="true" required)
              option(value="" disabled selected)  -- Please Select --
              option(value="RMS")  Raw Materials
              option(value="WIP") Work in Process
              option(value="FGS")  Finished Goods
              option(value="MRO") Maintenance, Repair and Operations

        div.form-group.row
          div.col-sm-6.mb-2
            label.control-label(for='description') Description
            textarea.form-control.input-sm#description(name='description',)= data.description 
          div.col-sm-6.mb-2
            label.control-label(for='status') Status
            div.radio.radio-toolbar.row
              div.col-sm-6.mb-2.col-xl-3
                input#statusActive.radiobox(type='radio', name='status', value="1" checked)
                label.ml-1(for='statusActive') &nbsp; Active
              div.col-sm-6.mb-2.col-xl-3
                input#statusInactive.radiobox(type='radio', name='status', value="0")
                label.ml-1(for='statusInactive') &nbsp; Inactive

        include ./../includes/layout-entry-btn

    form#postSuccessForm(method='GET', action=page.list.url)
  script.
    $(document).ready(function() {
      var editMode = $("input[name='id']").val();
      var supplierId = '!{user.supplier_id}';

      var status = "!{data.active}";
      if (status && status == "false")
        $('#statusInactive').attr("checked", "checked");

      ajaxLoadOption({
        type: "GET",
        url:"/api/product_weights",
        selectId: "#weight_id",
        showKey: "name",
        filterObj: {},
        token: token
      });

      ajaxLoadOption({
        type: "GET",
        url:"/api/product_packages",
        selectId: "#package_id",
        showKey: "name",
        filterObj: {},
        token: token
      });

      ajaxLoadOption({
        type: "GET",
        url:"/api/suppliers",
        selectId: "#supplier_id",
        showKey: "company_name",
        filterObj: {},
        token: token
      });

      if (editMode && typeof editMode === "string") {
        var inventory_type = $('#inventory_type').data('value');
        $('#inventory_type').val(inventory_type).change();
      }

      $('#entryForm').submit(function (e) {
        e.preventDefault();
        $.ajax({
          url: $(this).attr('action'),
          type:$(this).attr('method'),
          data: $(this).serialize(),
          success: function (data) {
            handleAlert(data);
          },
          error: function (data) {
            console.log('An error occurred.');
            console.log(data);
          },
        });
      });
    });